<html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Data</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div>

	</div>
		<div class="container">
		<h4>Your results:</h4>
		<label for="ip">You IP: </label>
		<p id="ip" th:text="${data.ip}"></p>
		<label for="loc">Your approximate location: </label
		><p id="loc" th:text="${data.location}"></p>
		<label for="isp">Your ISP: </label>
		<p id="isp" th:text="${data.isp}"></p>
		<label for="ua">User-Agent: </label>
		<p id="ua" th:text="${data.userAgent}"></p>
		<label for="port">You are connected through port </label>
		<p id="port" th:text="${data.connectedPort}"></p><br />
		<label for="user">Current user: </label>
		<p id="user" th:text="${data.usern}"></p>
		
		<br /><br />
		<h4>Thank you for participating!</h4>
	</div>
</body>
</html>