<html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Data</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div>

	</div>
		<div class="container">
		<h4>Your results:</h4>
		<p th:text="${data.ip}"></p>
		<p th:text="${data.location}"></p>
		<p th:text="${data.isp}"></p>
		<p th:text="${data.userAgent}"></p>
		<p th:text="${data.port}"></p>
		<p th:text="${data.user}"></p>
		
		<br /><br />
		<h4>Thank you for participating!</h4>
	</div>
</body>
</html>