<html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Data</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div>

	</div>
		<div class="container">
		<h4>Your results:</h4>
		<label for="ip">Your IP: </label>
		<p id="ip" th:text="${data.ip}"></p>
		<label for="loc">Your approximate location: </label
		><p id="loc" th:text="${data.location}"></p>
		<label for="isp">Your ISP: </label>
		<p id="isp" th:text="${data.isp}"></p>
		<label for="ua">User-Agent: </label>
		<p id="ua" th:text="${data.userAgent}"></p>
		<label for="port">You are connected through port: </label>
		<p id="port" th:text="${data.connectedPort}"></p>
		<label for="user">Current user: </label>
		<p id="user" th:text="${data.usern}"></p>
		
		<br /><br />
		<h4>Thank you for participating!</h4>
		<br />
		<h5>More on the data you see:</h5>
		<p>IP: This is your remote IP address</p>
		<p>Approximate location: This is based on the Geolocation of you IP</p>
		<p>ISP: Your internet service provider, the name should be familiar ;)</p>
		<p>User-Agent: This is what your browser sends to this server in order for content to be displayer correctly <br />
		from this, your approximate Browser and Operating System can be found out.</p>
		<p>Current user: the user this data is binded to.
	</div>
</body>
</html>