<html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Start</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div>
		<h4 class="text-danger text-center">
			<br /> Start data collection?

		</h4>
		<br /> <br />
	</div>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<a th:href="@{/data}" class="btn btn-primary btn-lg">Start</a>
				<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}"
				class="btn btn-danger">Admin Panel</a></p>
			</div>
		</div>
	</div>
</body>
</html>